# Flutter
*.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Generated
*.g.dart
*.freezed.dart

# IDE
.idea/
.vscode/
*.iml

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/DerivedData/
**/ios/.symlinks/
**/ios/**/Pods/

# Server
server/node_modules/
server/data/

# Misc
.DS_Store
*.log
*.env
